$bWidth
  center($mainWidth,pad:0)
.l-guaranty
  width 100%
  height 120px
  overflow hidden
  background rgba(0,0,0,0.9)
.b-guaranty
  @extend $bWidth  
  height 120px
  margin 0 auto
  overflow hidden
  &__title
    font-family stolzl
    font-weight lighter
    color: #f5f5f5;
    text-align: center;
    font-size 30px;
    font-weight 300
  &__title p  
    margin-top 5px
  &__list
    overflow hidden
    float left
    height 50px
    width 33.3%