// container()
//   &__container
//     +cache('center960')
//       center(960px, pad:20px)
//
// .header
//   container()
//   &__logo
//     float left
//   &__nav
//     float right
//   &__call
//     float right
//
// .nav
//   list-style-type none
//   &__item
//     display inline-block
//     margin-right 40px
//     &:last-child
//       margin-right 0
//   &__link
//     color #fff



$bWidth
  center($mainWidth,pad:0)

.b-btn
  border none
  border-radius 30px
  background rgba(0,0,0,0.1)
  // background-color: rgba(0, 0, 0,0.102);
  outline none
  color #f5f5f5
  box-shadow 1px 1px 10px #721a9f
  // button-gradient(#000,#767575)
  &:hover
    background rgba(175, 77, 225, 0.61)
  &:active
    background rgba(114, 26, 159, 0.61)
    
.theme-red
  text-align center
  height 66px
  border-radius 30px
  color inherit
  font-size 24px
  background #fe887c
  &:hover
    color #fff
    background #fe887c
  &:active
    background #fff
    color #000
    
.theme-popup
  border none
  border-radius 30px
  background rgba(147, 147, 147, 0.1);
  // background-color: rgba(0, 0, 0,0.102);
  outline none
  color #000
  box-shadow 1px 1px 10px #721a9f
  width: 220px;
  height: 50px;
  // button-gradient(#000,#767575)
  &:hover
    color #000
    background rgba(175, 77, 225, 0.61)
  &:active
    background rgba(114, 26, 159, 0.61)
    color #000


.l-main
  position relative
  height 670px
  overflow hidden
  width 100%
  // background  #000
.b-main
  @extend $bWidth  
  height inherit
  z-index 100
  position relative
  ///header
  &__header
    height inherit
    width 100%
    &_logo
      float left
      width 30%
      margin-top 40px
      color #f5f5f5
      font-size 28px
      text-decoration none
      font-family stolzl
      font-weight lighter

    &_nav
      float left
      width 40%
      margin-top 43px
    &_path
      col(1/3,cycle:3)
      text-align center
      color #f5f5f5
      text-decoration none
      font-size 14px
      font-weight 300
    &_call
      float left
      width 30%
      margin-top 16px
    &_tel
      color #f5f5f5
      margin 0
      text-align center
      font-weight 300
      font-size 28px
    &_btn
      display block
      margin 1px auto 0
      border-radius 30px
      width 220px
      height 50px
     
        

  ////description
  &__description
    color #f5f5f5
    margin-top 120px
    text-align center
    font-size 44px
    font-weight 400
  &__delivery
    color #f5f5f5
    text-align center
    font-size 24px

  /////stock
  &__stock
    margin-top 10px
    &_title
      color #f5f5f5
      font-size 64px
      text-align center
      margin-top 0
      margin-bottom 40px
    &_offer
      margin-top 0
      color #f5f5f5
      font-size 28px
      text-align center
    &_form
      width 450px
      height 320px
      // border-radius 120px
      background-color rgba(0, 0, 0,0.202)
      margin 0 auto
      padding 25px 20px
      color #f5f5f5
      font-size 14px
      box-shadow none
      transition box-shadow 0.5s ease-out 0s
      &:hover
        box-shadow 1px 1px 10px #721a9f
        transition box-shadow 0.5s ease-in 0s
    &_input
      // col(1/1,cycle:3)
      display block
      margin 0 auto 10px
      outline none
      border-radius 30px
      border none
      background-color rgba(255, 255, 255, 0.051)
      height 66px
      padding-left 20px
      color inherit
      font-size inherit
    &_btn
      // col(1/3,cycle:3)
      margin 0 auto
      display block
      text-align center
      height 66px
      border-radius 4px
      color inherit
      font-size 24px
      // background #fe887c


  
.l-stock
  height 700px
  background url('../images/bg/avengers.png') no-repeat 50% #434254
  background-size 1300px
  background-position-y 27px
  background-position-x 67px
.b-stock
  @extend $bWidth
  height 700px
  &__container
    color #fff
    width 580px
    float right
  &__title
    margin-top 90px
    text-align center
    font-weight 200
    font-size 52px
  &__description    
    font-weight 200
    font-size 20px
    line-height 2.098
    text-align center
  &__kit    
    border-radius 10px
    background-color rgba(52, 52, 65,0.902)
    width 575px
    height 212px
    margin 0 auto
    
  &__btn
    display block
    margin 30px auto 0
    width 272px
.kit
  &__title
    font-size 14px 
    line-height 2.854
    text-align center
    padding-top 25px
    padding-bottom 25px
    
  &__row
    height 50px
    
  &__collumn
    col(1/6,cycle:6)
    position relative
  &__image
    display block
    margin 0 auto
  &__name    
    position absolute
    top 40px
    width 100%   
    font-size 12px  
    line-height 1.746
    text-align center    
    &.__1
      left 8px
    &.__2
      left 8px
    &.__3
      left 8px
    &.__4
      left 8px
    &.__5
      left 8px
    &.__6
      left 8px
  

.l-rewievs
  height 580px
.b-rewievs
  @extend $bWidth
  position relative
  &__axe
    position absolute
    top -200px
    right -300px
  &__title   
    margin-top 65px
    font-size 52px   
    font-weight 200 
    color rgb(71, 71, 71)
    line-height 1.538
    text-align center
  &__row
    display block
    overflow auto
    margin-top 120px
  &__collumn
    col(1/2,cycle:2)
    position relative
    &:before
      position absolute
      top 0
      left 120px
      content url('../images/bg/icons.png')
      z-index 1
  &__span
    float left    
    &.__1
      width 30%
    &.__2
      width 70%
    
  &__images
    position relative
    display block
    margin 0 auto
    z-index 10
  &__name    
    font-size 18px
    color rgb(71, 71, 71)
    line-height 1.444
    text-align left
  &__text
    font-size 13px
    color rgb(71, 71, 71)
    line-height 2
    text-align left
  


.l-footer
  overflow auto
  background #343434
.b-footer 
  @extend $bWidth
  &__logo
    display inline-block 
    font-weight 200   
    font-size: 28.233px
    color rgb(245, 245, 245)
    line-height 1.558
    text-align center
    text-decoration none
    outline none
    margin-right 520px
  

  &__tel
    display inline-block
    font-weight 300    
    font-size 28.233px    
    color: rgb(245, 245, 245)
    line-height 1.558
    text-align center
 

  &__btn
    display inline-block
    color #fff
    font-size 16px
    font-weight 300
    width 220px
    margin-left 40px

        