$bWidth
  center($mainWidth,pad:0)
.l-point
  width 100%

  overflow hidden
  background #000
  padding-bottom 30px
.b-point
  @extend $bWidth  

  margin 0 auto
  overflow hidden
  &__title
    font-family stolzl
    font-weight lighter
    color: #f5f5f5;
    text-align: center;
    font-size 30px;
    font-weight 600
  &__title p  
    margin-top 20px
  &__list
    overflow hidden
    float left
    height 500px
    width 33.3%
    color #FFF
  &__list img
    width 100%
    height 100%
.point-item
  height 33%
  width 100%
  text-align center
  margin 0 auto
.point-item img
  width 40px
  height 50px
// .point-item:before
//   content " "  
//   float left  
//   position relative
//   background url("../images/features/22.jpg") no-repeat  
//   display block
//   height 100px 
//   width 40px 
//   background-size 50px
.point_img
  margin 0 auto
  width 100px
  height 100px
  