@import '../base/placeholders.styl'

.tabs__item.ui-state-active
  border: none;
  border-radius: 30px;
  background: rgba(0,0,0,0.3);
  outline: none;
  color: #f5f5f5;
  box-shadow: 1px 1px 10px #721a9f;

.l-products
  background #050807
  // overflow auto
  // height 800px
.b-products
  @extend $center
  &__title 
    text-align center
    font-size 52px
    color #fff
    font-weight 200
  &__tabs
    margin-top 60px
    
  &__list
    margin-top 60px

  &__item
    // height 460px
    col(1/4,cycle:4)
    background #fff
    border-radius 2px
    margin-bottom: 30px
    box-shadow: none;
    transition box-shadow 0.3s ease-in 0s
    &:hover
      box-shadow: 1px 1px 15px #cd4fe5,-1px -1px 15px #cd4fe5;
      transition box-shadow 0.3s ease-in 0s
    & ul 
      list-style-type none
      & span 
        font-size 14px
        font-weight 300
.product
  &__title
    margin-top 40px
    margin-bottom 40px
    text-align center
    color #474747
    font-weight 300
    font-size 18px
  &__image
    display block
    margin 0 auto
  &__price
    margin-top 60px
    text-align center
    color #474747
    font-weight 300
    font-size 36px
  &__btn
    display block
    margin 30px auto 0
    width 130px
    height 35px
    color #474747
    background none
    margin-bottom 30px
    // border 2px solid #fe887c
    text-align center
    

.tabs   
  &__list
    width 830px
    overflow auto
    margin 0 auto
    border-radius 120px
    background #fff
    list-style-type none
    padding 10px 10px
  &__item
    col(1/4)
    border-radius 30px    
    outline none
    &.ui-state-active
      border: none;
      border-radius: 30px;
      background: rgba(0,0,0,0.1);
      outline: none;
      color: #f5f5f5;
      box-shadow: 1px 1px 10px #721a9f;
    &.ui-state-active 
      background: rgba(114,26,159,0.61);
    &.ui-state-hover
      color #fff
      background: rgba(175,77,225,0.61);
  &__link
    color #000
    display block
    margin 0 auto
    text-align center
    outline none
    text-decoration none
    padding 20px 0