include ../helpers/bem

block config
- var config = {}

doctype html
html(lang="ru-RU")
  head
    meta(charset='utf-8')
    title #{config.title || 'Vape'}
    meta(name="description" content="")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    //- meta(name="viewport" content="width=device-width,initial-scale=1")
    link(rel='stylesheet', href="./css/style.css")
    link(href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    
    block styles
    
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js")  
    //- | <script>window.Modernizr || document.write('<script src="javascripts/vendor/modernizr-2.8.3.min.js"><\/script>')</script>
    //- | <!--[if lt IE 9]>
    //- |   <script src="javascripts/vendor/IE9.js"></script>
    //- | <![endif]-->
  body
    | <!--[if IE]>
    |  <div class="browsehappy">
    |    <p>
    |      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> to improve your experience.
    |    </p>
    |  </div>
    | <![endif]-->

    block content



    script(src="javascripts/main.js")
    //- script(src="dev/jquery.pixlayout.0.9.7.js")
        
    block scripts
