header.header
	.b-main__header(style="width:1170px;margin: 0 auto;")
				
				a.b-main__header_logo(href="#") Sup-Vape
				
				nav.b-main__header_nav
					a.b-main__header_path(href="#") Главная
					a.b-main__header_path(href="#products") Тематика значков
					a.b-main__header_path(href="#stock") Спецпредложение
				.b-main__header_call
					p.b-main__header_tel 8 967 869 78 28
					button.b-main__header_btn.b-btn.js-popup(data-mfp-src="#js-contactForm") Обратный звонок