


.l-main
	video( autoplay="" poster="" loop="" class="video_bg_player")
		source( src="images/video/bg-fon.mp4" )
	.b-main 
				
		h1.b-main__description
			| Оригинальные комплекты vape-ов<br/> в наличии
		p.b-main__delivery 
			| Доставим в любую точку России
			
		.b-main__stock
			//- p.b-main__stock_title Акция! 
			//- p.b-main__stock_offer Оставьте свои контактные данные <br> и получите скидку 20% на любой комплект
			form.b-main__stock_form(action="" method="GET")
				input.b-main__stock_input(type="text" placeholder="text" required="required")
				input.b-main__stock_input(type="tel" placeholder="tel" required="required")
				button.b-main__stock_btn.b-btn Получить
