section.l-point
  .b-point
    .b-point__title
      p
        |Преимущества
    .b-point__list
      .point-item
        img.point_img(src="images/features/22.jpg")
        p
          |Lorem ipsum.
      .point-item
        img.point_img(src="images/features/22.jpg")
        p
          |Lorem ipsum.
      .point-item
        img.point_img(src="images/features/22.jpg")
        p
          |Lorem ipsum.
    .b-point__list
      img.point_img(src="images/features/Vapegraphic.jpg")
    .b-point__list
      .point-item
        img.point_img(src="images/features/22.jpg")
        p
          |Lorem ipsum.
      .point-item
        img.point_img(src="images/features/22.jpg")
        p
          |Lorem ipsum.
      .point-item
        img.point_img(src="images/features/22.jpg")
        p
          |Lorem ipsum.