
.mfp-hide.white-popup(id="js-contactForm", title="Бесплатная консультация")
      form.modal-form(id="form5" method="get")
          p.white-popup__text Обратный звонок
        
          input.b-features2__input(type="text" placeholder="Ваше Имя" name="name" required="required")
          input.b-features2__input(type="tel" placeholder="Ваше Телефон" name="phone" required="required") 
          button.b-btn.-small.theme-popup Заказать

.mfp-hide.white-popup(id="js-contactForm-2", title="Бесплатная консультация")
      form.modal-form(id="form5" method="get")
          p.white-popup__text Подробности о комплекте
        
          input.b-features2__input(type="text" placeholder="Ваше Имя" name="name" required="required")
          input.b-features2__input(type="tel" placeholder="Ваше Телефон" name="phone" required="required") 
          button.b-btn.-small.theme-popup Заказать

.mfp-hide.white-popup(id="js-contactForm-3", title="Бесплатная консультация")
      form.modal-form(id="form5" method="get")
          p.white-popup__text Обратный звонок
        
          input.b-features2__input(type="text" placeholder="Ваше Имя" name="name" required="required")
          input.b-features2__input(type="tel" placeholder="Ваше Телефон" name="phone" required="required") 
          button.b-btn.-small.theme-popup Заказать

.mfp-hide.white-popup(id="js-contactForm-4", title="Зазать значок")
      form.modal-form(id="form5" method="get")
          p.white-popup__text Заказать значок
        
          input.b-features2__input(type="text" placeholder="Ваше Имя" name="name" required="required")
          input.b-features2__input(type="tel" placeholder="Ваше Телефон" name="phone" required="required") 
          button.b-btn.-small.theme-popup Заказать