extends layouts/application.jade

//- block config
//- block styles
//- block scripts

block content
  include layouts/popup.jade
  include layouts/header.jade
  include layouts/main.jade
  include layouts/guaranty.jade
  include layouts/point.jade
  include layouts/product.jade
  //- include layouts/stock.jade
  //- include layouts/rewievs.jade
  include layouts/footer.jade
  include layouts/popup.jade
  
